aclocal.m4
autom4te.cache
ChangeLog
compile
config.guess
config.log
config.status
config.sub
configure
COPYING
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
sysconfig.h
sysconfig.h.in
multispeech.conf
