Source: multispeech
Section: sound
Priority: optional
Maintainer: Igor B. Poretsky <poretsky@mlbox.ru>
Build-Depends: cdbs, debhelper (>= 10), po-debconf, libsndfile1-dev, libsoundtouch-dev, portaudio19-dev, libportaudiocpp0, libpulse-dev, libbobcat-dev, libboost-thread-dev, libboost-regex-dev, libboost-filesystem-dev, libboost-iostreams-dev, libboost-program-options-dev, libspeechd-dev
Standards-Version: 4.1.4

Package: multispeech
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: espeak, espeak-data
Suggests: emacspeak, mbrola, mbrola-en1, freephone, ru-tts
Enhances: emacspeak
Description: Multilingual speech server for Emacspeak
 This speech server provides multilingual speech output for Emacspeak
 using software TTS engines such as mbrola, espeak, ru_tts, etc.
 At the moment English, German, French, Italian, Spanish,
 Portuguese and Russian languages are supported.
 .
 The most prominent features are as follows:
  - flexible configuration;
  - easy adaptation to various speech engines;
  - language autodetection capability;
  - online voice control means.

Package: sd-multispeech
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: espeak, espeak-data
Suggests: speech-dispatcher, mbrola, mbrola-en1, freephone, ru-tts
Enhances: speech-dispatcher
Description: Multilingual Speech Dispatcher backend
 This module provides multilingual speech output for Speech Dispatcher
 using software TTS engines such as mbrola, espeak, ru_tts, etc.
 It is based on the Multispeech speech server.
 At the moment English, German, French, Italian, Spanish,
 Portuguese and Russian languages are supported.
 .
 The most prominent features are as follows:
  - flexible configuration;
  - easy adaptation to various speech engines;
  - language autodetection capability;
  - online voice control means.

Package: libmultispeech3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: multispeech | sd-multispeech
Conflicts: multispeech (<< 4.0.0)
Replaces: multispeech (<< 4.0.0)
Description: Multilingual speech server
 Though Multispeech was primarily designed for use in conjunction
 with Emacspeak, but being capable to work with Speech Dispatcher
 as its backend module, it can provide multilingual speech output
 for Orca screenreader as well.
 .
 This package provides common shared library and main
 configuration file used by all Multispeech implementations.
